@import '@styles/mixin';

.follow {
  @include flex-vertical(1rem);
  align-items: center;
  min-width: 10rem;

  .follow_count {
    font-weight: var(--font-medium);
    font-size: 2rem;
    transition: all 0.3s;

    @include mobile {
      font-size: 1.6rem;
    }
  }
  .follow_title {
    font-weight: var(--font-regular);
    font-size: 2rem;
    color: var(--color-gray-10);
    transition: all 0.3s;

    @include mobile {
      font-size: 1.4rem;
    }
  }
}
