.heading {
  display: none;
}
@media (min-width: 768px) {
  .heading {
    display: block;
    color: var(--color-primary);
    font-weight: var(--font-semibold);
    font-size: 3.2rem;
    margin-top: 5rem;
    margin-bottom: 1.5rem;
  }
}
