@import '@styles/mixin';

.page_container {
  margin: 5rem auto;
  width: 50rem;
  @include mobile {
    width: 100%;
    max-width: 50rem;
    margin: 2rem auto;
  }
  .tab_container {
    margin: 0;
    @include mobile {
      margin: 0 -2.4rem;
    }
  }
}
