@import '@styles/mixin';

.page_container {
  width: 100%;
  max-width: 50rem;
  margin: 2rem auto;
  .tab_container {
    margin: 0 -2.4rem;
  }
}

@media (min-width: 768px) {
  .page_container {
    margin: 5rem auto;
    width: 50rem;
    .tab_container {
      margin: 0;
    }
  }
}
