@import '@styles/mixin';

.zero_item_noti_container {
  width: 100%;
  margin-top: 50%;

  .zero_item_noti {
    @include flex-vertical(1.8rem);
    justify-content: center;
    align-items: center;
    height: 100%;

    .zero_item_noti_msg {
      @include flex-vertical(1rem);
      justify-content: center;
      align-items: center;
      font-size: 1.4rem;
      font-weight: var(--font-bold);
    }

    zero_item_noti_link {
      font-size: 1.2rem;
      font-weight: var(--font-medium);
    }
  }
}

.list_wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.2rem;
  transition: all 0.3s;

  @include mobile {
    grid-template-columns: repeat(3, 1fr);
  }
}
