@import '@styles/mixin';

.default_thumbnail {
  width: 11.7rem;
  height: 10rem;
  background: #d5e1de;
}

.thumbnail_wrapper {
  display: block; // important;
  position: relative;
  min-width: 11.7rem;
  min-height: 10rem;
  .thumbnail {
    object-fit: cover;
  }
}

@media (min-width: 768px) {
  .thumbnail_wrapper {
    width: 12rem;
    height: 10rem;
  }
}
