@import '@styles/mixin';

.profile_wrapper {
  @include flex-vertical(1rem);
  justify-content: space-between;
  align-items: center;

  .statistics_wrapper {
    @include flex-horizontal(0);
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .card_wrapper {
      position: relative;
      width: 15rem;
      height: 15rem;
      border-radius: 50%;
      overflow: hidden;
      transition: all 0.3s;

      @include mobile {
        width: 12rem;
        height: 12rem;
      }
      .card_image {
        object-fit: cover;
      }
    }
  }

  .user_info {
    @include flex-vertical(1rem);

    @include mobile {
      gap: 0.5rem;
    }
    .user_name {
      font-size: 2rem;
      font-weight: var(--font-semibold);
      text-align: center;
      transition: all 0.3s;

      @include mobile {
        font-size: 1.6rem;
      }
    }
    .user_email {
      display: block;
      font-size: 1.8rem;
      font-weight: var(--font-regular);
      color: var(--color-gray-10);
      transition: all 0.3s;

      @include mobile {
        font-size: 1.4rem;
      }
    }
  }
}
