@import '@styles/mixin';

.top {
  // @include flex-horizontal(1rem);
  // width: 100%;
  // justify-content: center;

  .profile_panel {
    @include flex-horizontal(1rem);
    width: 100%;
    justify-content: center;
    align-items: stretch;
  }

  .thumbnail {
    @include flex-vertical(1rem);
    justify-content: center;
    align-items: center;
    img {
      border-radius: 50%;
    }
    p {
      font-size: 1.6rem;
      font-weight: var(--font-semibold);
    }
    span {
      font-size: 1.2rem;
      font-weight: var(--font-regular);
      color: var(--color-gray-10);
    }
  }
}

.gap {
  margin-bottom: 1.5rem;
}
