@import '@styles/mixin';

.profile_wrapper {
  @include flex-vertical(1rem);
  justify-content: space-between;
  align-items: center;

  .statistics_wrapper {
    @include flex-horizontal(0);
    justify-content: space-between;
    align-items: center;
    height: 15rem;
    @include mobile {
      width: 100%;
      height: 9rem;
    }

    .card_wrapper {
      display: block;
      position: relative;
      width: 15rem;
      height: 15rem;
      @include mobile {
        width: 9rem;
        height: 9rem;
      }
      .card_image {
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }

  .user_info {
    .user_name {
      font-size: 1.6rem;
      font-weight: var(--font-semibold);
      text-align: center;
    }
    .user_email {
      display: block;
      font-size: 1.2rem;
      font-weight: var(--font-regular);
      color: var(--color-gray-10);
    }
  }
}
