.detail_container {
  margin-bottom: 9rem;
}

.content {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  gap: 2rem;

  .title {
    font: {
      size: 1.8rem;
      weight: var(--font-semibold);
    }
  }

  .info {
    padding: 1rem 0;
    border-bottom: 0.1rem solid var(--color-gray-50);
  }
}
