@use '../storyMixin';
@use '../../../../styles/mixin' as commonMixin;

.search_container {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;

  div {
    flex-grow: 1;
  }

  .btn_write {
    margin-left: auto;
    padding: 1rem 1.5rem;
    border: 0.1rem solid var(--color-primary);
    border-radius: 1rem;
    cursor: pointer;
    img {
      vertical-align: top;
      transform: translateY(25%);
    }
    @include commonMixin.mobile {
      padding: 1rem;
      img {
        transform: translateY(0);
      }
    }
  }
}

.image_modal_bg {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  button {
    position: fixed;
    z-index: 110;
    top: 1.5rem;
    right: 1.5rem;
  }
  .image_modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
  }
  .image_container {
    position: relative;
    width: 90vw;
    height: 90vh;
    img {
      object-fit: contain;
    }
  }
}

.category_container {
  display: flex;
  gap: 1.2rem;
  margin: 3rem 0 4rem;
  font-size: 1.2rem;

  .category {
    cursor: pointer;
    display: block;
    padding: 0.6rem 1rem;
    border-radius: 1rem;
    background-color: var(--color-secondary-dark);
  }

  .selected {
    color: var(--color-white);
    background-color: var(--color-primary);
  }
}

.detail_container {
  .content {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    gap: 2rem;

    .title {
      font: {
        size: clamp(1.8rem, 3.15vw, 3.2rem);
        weight: var(--font-semibold);
      }
    }

    .info {
      padding: 1rem 0;
      border-bottom: 0.1rem solid var(--color-gray-50);
    }

    pre {
      white-space: pre-wrap;
    }
  }
}

.heading {
  margin-bottom: 3.5rem;
  text-align: center;
  @include storyMixin.heading_responsive;
}

.post_form {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  h2 {
    margin-bottom: 1rem;
    font-weight: var(--font-bold);
    font-size: clamp(1.4rem, 1.8vw, 1.6rem);
  }

  .image_container {
    display: flex;
    gap: 1rem;
  }

  .image_preview_swiper {
    width: 100%;
    .slider {
      position: relative;
      flex-basis: 10rem;
      width: 10rem;
      height: 10rem;
      overflow: hidden;
      border-radius: 1rem;
      .preview_image {
        object-fit: cover;
      }
      .delete {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        border-radius: 100%;
        .delete_icon {
          vertical-align: top;
        }
      }
    }
  }

  .photoAdd {
    cursor: pointer;
    display: inline-block;
    flex-shrink: 0;
    width: 10rem;
    height: 10rem;
    border-radius: 1rem;
    background-color: #d5e1de;
    background-image: url('/images/PhotoAddIcon.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 11rem;
  }

  input,
  .description {
    margin-top: 1rem;
    font-size: 1.2rem;
  }

  input[type='file'] {
    display: none;
  }

  input[name='title'] {
    padding-left: 0.8rem;
  }

  label {
    font-weight: var(--font-bold);
    font-size: clamp(1.4rem, 1.8vw, 1.6rem);

    .required_mark {
      margin-left: 0.4rem;
      color: var(--color-error);
      font-size: 1.6rem;
      font-weight: var(--font-regular);
      vertical-align: middle;
    }
  }

  .category {
    legend {
      margin-bottom: 1rem;
      font-weight: var(--font-bold);
      font-size: clamp(1.4rem, 1.8vw, 1.6rem);
    }

    .tabs {
      display: flex;
      gap: 1.2rem;
      font-size: 1.2rem;

      .tab {
        display: block;
        font-weight: var(--font-regular);
        font-size: 1.2rem;
        cursor: pointer;
        padding: 0.6rem 1rem;
        border-radius: 1rem;
        background-color: var(--color-secondary-dark);
      }

      .selected {
        color: var(--color-white);
        background-color: var(--color-primary);
      }
    }
  }

  .description {
    padding: 1rem 1.8rem;
    word-break: break-all;
  }

  .btn_submit {
    padding: 1.15rem 0;
    border-radius: 1rem;
    text-align: center;
    cursor: pointer;
    border: 0.1rem solid var(--color-primary);
    color: #ffffff;
    background-color: var(--color-primary);
  }
}

@media (max-width: 768px) {
  .detail_container {
    margin-bottom: 5rem;
  }
  .category_container {
    margin: 0 0 2rem;
  }
}
