@import '@styles/mixin';

.plantDetail_wrapper {
  @include flex-vertical(3rem);
  max-width: 102.4rem;
  width: 100%;
  margin: 5rem auto;

  @include mobile {
    margin-top: 0;
  }

  .plantContentPc {
    @include flex-vertical(3rem);

    @include mobile {
      display: none;
    }
  }

  .plantContentMo {
    display: none;

    @include mobile {
      display: block;
    }
  }

  .plantDetail_head {
    @include flex-horizontal(0);
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    transition: all 0.3s;

    @include mobile {
      display: none;
    }

    h2 {
      color: var(--color-primary);
      font-weight: var(--font-semibold);
      font-size: 3.2rem;
    }

    .plantDetail_edit {
      @include flex-horizontal(1rem);
      align-items: center;
      background-color: var(--color-primary);
      padding: 1rem 2rem;
      border-radius: 1rem;
      color: var(--color-white);
    }
  }

  .plant {
    @include flex-horizontal(5rem);
    align-items: center;

    @include mobile {
      gap: 3rem;
      flex-direction: column;
    }

    .plant_photo {
      position: relative;
      border-radius: 1rem;
      width: 40rem;
      height: 32rem;
      overflow: hidden;
      flex-shrink: 0;

      @include mobile {
        margin-left: -3.2rem;
        border-radius: 0;
        width: calc(100% + (2.4rem + 2.4rem));
      }

      img {
        object-fit: cover;
      }
    }

    .plant_info {
      width: 100%;
      @include flex-vertical(2rem);

      .plant_name {
        @include flex-vertical(1.4rem);
        box-sizing: border-box;
        font-size: 2rem;
        font-weight: var(--font-semibold);

        h2 {
          display: none;
        }

        @include mobile {
          text-align: center;
          align-items: center;

          h2 {
            display: block;
          }

          h3 {
            display: none;
          }
        }

        span {
          font-weight: var(--font-regular);
          font-size: 1.8rem;
          transition: all 0.3s;

          @include mobile {
            color: var(--color-gray-10);
          }
        }
      }

      .plant_gardeningPc {
        width: 100%;
        @include flex-vertical(2rem);

        @include mobile {
          display: none;
        }

        h3 {
          font-size: 2rem;
          font-weight: var(--font-semibold);
        }

        ul {
          width: 100%;
          padding: 2rem 4rem;
          box-sizing: border-box;
          border-radius: 1rem;
          background-color: var(--color-secondary-light);
          @include flex-vertical(1.8rem);

          li {
            @include flex-horizontal(2rem);
            span {
              width: 5rem;
              font-weight: var(--font-semibold);
              font-size: 1.6rem;
            }
            p {
              font-size: 1.6rem;
            }
          }
        }
      }
    }
  }

  .plant_with {
    margin-top: 1.3rem;
    width: 100%;
    color: var(--color-white);
    text-align: center;
    padding: 1.8rem 0;
    font-size: 1.6rem;
    border-radius: 1rem;
    background-color: #a7c4a0;
    box-sizing: border-box;

    @include mobile {
      padding: 1.4rem 0;
      font-size: 1.4rem;
    }
  }

  .contents_wrapper {
    margin-top: 3rem;
    @include flex-vertical(5rem);
    align-items: center;

    @include mobile {
      box-sizing: border-box;
      padding: 0 2.4rem;
      gap: 3rem;
    }

    .plant_head {
      width: 100%;
      @include flex-horizontal(0);
      align-items: center;
      justify-content: space-between;
      position: relative;

      .subMeun {
        width: 2rem;
        height: 2rem;
        background-image: url('/images/SubMenuIcon.svg');
        background-repeat: no-repeat;
      }

      .subMenuBox {
        background-color: var(--color-white);
        border: 0.1rem solid var(--color-gray-50);
        overflow: hidden;
        border-radius: 0.5rem;
        position: absolute;
        right: 0;
        top: 2.4rem;
        @include flex-vertical;
        box-shadow: 0 0.1rem 0.3rem rgba($color: #000000, $alpha: 0.1);

        hr {
          all: unset;
          width: 100%;
          height: 0.1rem;
          background-color: var(--color-gray-50);
        }
        .subMenuItem {
          padding: 0.5rem 1rem;
          font-size: 1.2rem;
        }
        .subMenuItem.delete {
          color: var(--color-error);
        }
      }
    }

    // 식물 정보 css
    .plant_gardeningMo {
      display: none;

      @include mobile {
        display: block;
        width: 100%;
        @include flex-vertical(1rem);
      }
      ul {
        width: 100%;
        padding: 1.6rem 2rem;
        box-sizing: border-box;
        border-radius: 1rem;
        background-color: var(--color-secondary-light);
        @include flex-vertical(1.6rem);

        li {
          @include flex-horizontal(1rem);
          span {
            width: 5rem;
            font-weight: var(--font-semibold);
          }
          p {
            font-size: 1.2rem;
          }
        }
      }
    }

    h3 {
      font-size: 2rem;
      font-weight: var(--font-semibold);
      transition: all 0.3s;

      @include mobile {
        font-size: 1.6rem;
      }
    }
    .plant_tips {
      @include flex-vertical(2rem);
      width: 100%;

      pre {
        width: 100%;
        line-height: 2.4rem;
        padding: 2rem;
        box-sizing: border-box;
        border-radius: 1rem;
        background-color: #ffffe0;
        font-size: 1.6rem;
        transition: all 0.3s;

        @include mobile {
          line-height: 2rem;
          font-size: 1.4rem;
        }
      }
    }

    //식물 다이어리 css
    .diary_head {
      @include flex-horizontal(0);
      justify-content: space-between;
      align-items: center;
      width: 100%;
      font-size: 1.4rem;

      .diary_add {
        @include flex-horizontal(1rem);
        align-items: center;
        background-color: var(--color-primary);
        padding: 1rem 2rem;
        border-radius: 1rem;
        color: var(--color-white);
        transition: all 0.3s;

        @include mobile {
          padding: 1rem 1.2rem;
          span {
            display: none;
          }
        }
      }
    }

    .diary_list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      transition: all 0.3s;
      justify-content: center;

      &:has(li:nth-child(3)) {
        justify-content: flex-start;

        @include mobile {
          justify-content: center;
        }
      }

      .diaryNull:hover {
        background-color: var(--color-secondary-light);
      }
      .diaryNull {
        width: 100%;
        text-align: center;
        line-height: 2.4rem;
        font-size: 1.6rem;
        transition: all 0.3s;

        @include mobile {
          line-height: 2rem;
          font-size: 1.2rem;
        }
        span {
          color: var(--color-primary);
          font-weight: var(--font-semibold);
        }
      }

      li:hover {
        background-color: var(--color-secondary-dark);
      }
      li {
        cursor: pointer;
        background-color: var(--color-secondary-light);
        border: 1px solid var(--color-secondary-dark);
        padding: 2.4rem;
        box-sizing: border-box;
        min-width: 32.8rem;
        border-radius: 2rem;
        transition: all 0.3s;

        .diary_item {
          @include flex-vertical(3rem);
          align-items: center;

          .item_head {
            width: 100%;
            @include flex-vertical(1.4rem);
            font-size: 1.6rem;
            transition: all 0.3s;

            @include mobile {
              font-size: 1.2rem;
            }

            .item_info {
              @include flex-horizontal(1rem);

              span {
                font-weight: var(--font-semibold);
              }
            }
          }

          .item_cover {
            @include flex-horizontal(0);
            position: relative;
            align-items: center;
            width: 26rem;
            height: 25rem;
            border-radius: 1rem;
            overflow: hidden;
            transition: all 0.3s;

            @include mobile {
              width: 25rem;
              height: 20rem;
            }

            img {
              object-fit: cover;
            }
          }

          .item_desc {
            width: 100%;
            line-height: 2.4rem;
            font-size: 1.6rem;
            transition: all 0.3s;

            @include mobile {
              line-height: 2rem;
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
}

.plant_delete {
  @include flex-horizontal(1rem);
  border: 0.1rem solid var(--color-primary);
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 1rem;
  color: var(--color-primary);
  transition: all 0.3s;
  margin-left: auto;

  @include mobile {
    display: none;
  }
}

.followBtn,
.unFollowBtn {
  width: 100%;
  text-align: center;
  padding: 1rem;
  background-color: #a7c4a0;
  border-radius: 10rem;
  color: var(--color-white);
  transition: all 0.3s;
}

.unFollowBtn {
  background-color: var(--color-white);
  color: #a7c4a0;
  border: 0.1rem solid #a7c4a0;
}
