@import '@styles/mixin';

.signup_wrapper {
  width: 50%;
  @include flex-vertical(0);
  align-items: center;
  justify-content: center;
  margin: 0 -2.4rem 5rem auto;

  @include mobile {
    width: 100%;
    margin-right: 0;
  }

  form {
    max-width: 50rem;
    width: 100%;
    @include flex-vertical(5rem);
    align-items: center;
    transition: all 0.3s;

    @include mobile {
      max-width: 100%;
      gap: 3rem;
    }

    h2 {
      font-weight: var(--font-bold);
      color: var(--color-primary);
      font-size: 3rem;
      transition: all 0.3s;

      @include mobile {
        font-size: 2rem;
      }
    }

    .file_container {
      width: 100%;
      @include flex-vertical(0.5rem);
      align-items: center;

      h3 {
        text-align: left;
        margin-right: auto;
        margin-bottom: 0.5rem;
        color: var(--color-black);
        font-weight: var(--font-semibold);
        font-size: 1.8rem;
        transition: all 0.3s;

        @include mobile {
          font-size: 1.6rem;
        }
      }
    }

    .input_container {
      width: 100%;
      @include flex-vertical(0.5rem);

      label {
        margin-bottom: 0.5rem;
        color: var(--color-black);
        font-weight: var(--font-semibold);
        font-size: 1.8rem;
        transition: all 0.3s;

        @include mobile {
          font-size: 1.6rem;
        }

        span {
          color: var(--color-error);
        }
      }

      p {
        color: var(--color-error);
        font-weight: var(--font-semibold);
        font-size: 1.4rem;
        transition: all 0.3s;

        @include mobile {
          font-size: 1.2rem;
        }
      }
    }
  }

  .photo_cover {
    cursor: pointer;
    flex-shrink: 0;
    position: relative;
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
    overflow: hidden;
    transition: all 0.3s;

    @include mobile {
      width: 14rem;
      height: 14rem;
    }

    img {
      object-fit: cover;
    }
  }
}

.signup_wrapper:after {
  content: '';
  display: block;
  position: fixed;
  inset: 0;
  background-image: url('/images/LoginBackground.png');
  background-repeat: no-repeat;
  background-size: 50% 100%;
  opacity: 0.5;
  z-index: -1;
  transition: all 0.3s;
}
@include mobile {
  .signup_wrapper:after {
    background-image: none;
  }
}
