@import '@styles/mixin';

.edit_form_container {
  margin: 5rem auto;
  width: 50rem;

  @include mobile {
    width: 100%;
    max-width: 50rem;
    margin: 2rem auto;
  }
  .edit_form {
    width: 100%;
    @include flex-vertical(3rem);
    align-items: center;
    @include mobile {
      @include flex-vertical(7rem);
      align-items: flex-start;
    }

    .heading {
      font-weight: var(--font-bold);
      color: var(--color-primary);
      font-size: 2.8rem;
      align-self: center;
      @include mobile {
        font-size: 2.4rem;
      }
    }
    .form_list {
      @include flex-vertical(2rem);
      width: 100%;
    }
    .file_container {
      width: 100%;
      @include flex-vertical(0.5rem);
      align-items: center;

      .profile_image_title {
        text-align: left;
        margin-right: auto;
        margin-bottom: 0.5rem;
        color: var(--color-black);
        font-weight: var(--font-semibold);
        font-size: 1.6rem;
      }
    }

    .input_container {
      width: 100%;
      @include flex-vertical(0.5rem);

      .input_label {
        margin-bottom: 0.5rem;
        color: var(--color-black);
        font-weight: var(--font-semibold);
        font-size: 1.6rem;

        .asterisk {
          color: var(--color-error);
        }
      }

      .error_message {
        color: var(--color-error);
        font-weight: var(--font-semibold);
      }
    }
  }

  .photo_cover {
    position: relative;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    overflow: hidden;
    border: 0.1rem solid var(--color-secondary-dark);
    .image {
      object-fit: cover;
    }
  }
}
