@import '@styles/mixin';

.button {
  padding: 1.4rem 0;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.6rem;
  transition: all 0.3s;

  @include mobile {
    padding: 1rem 0;
    font-size: 1.4rem;
  }
}
.button.round {
  border-radius: 10rem;
}

.button.curve {
  border-radius: 0.6rem;
}

.button.fill {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.button.line {
  background-color: var(--color-white);
  border: 0.1rem solid var(--color-primary);
  color: var(--color-primary);
}

.button.xs {
  padding: 0.6rem 1.6rem;
}

.button.sm {
  padding: 1rem 2rem;
}

.button.md {
  padding: 1.2rem 8rem;

  @include mobile {
    padding: 1rem 4rem;
  }
}

.button.lg {
  width: 100%;
}
