.button {
  padding: 1rem 0;
  box-sizing: border-box;
  text-align: center;
}
.button.round {
  border-radius: 10rem;
}

.button.curve {
  border-radius: 0.6rem;
}

.button.fill {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.button.line {
  background-color: var(--color-white);
  border: 0.1rem solid var(--color-primary);
  color: var(--color-primary);
}

.button.xs {
  padding: 0.6rem 1.6rem;
}

.button.sm {
  padding: 1rem 2rem;
}

.button.md {
  padding: 1rem 4rem;
}

.button.lg {
  width: 100%;
}
