@import '@styles/mixin';

.template_wrapper {
  width: 100%;
  max-width: 50rem;
  margin: 5rem auto;
  .content_wrapper {
    .form_container {
      margin-top: 0;
    }
    .gap {
      margin-bottom: 5rem;
    }
  }
  @include mobile {
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
    .content_wrapper {
      .form_container {
        margin-top: 2.4rem;
      }
      .gap {
        margin-bottom: 3rem;
      }
    }
  }
}
