@use './storyMixin';
@use '../../../styles/mixin' as commonMixin;
$tablet_size: 768px;

.sr_only {
  position: absolute;
  width: 0.1rem;
  height: 0.1rem;
  padding: 0;
  margin: -0.1rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.page_heading {
  margin-bottom: 2rem;
  @include storyMixin.heading_responsive;
}

.page_container {
  @include storyMixin.center_container;
}

.post_container {
  padding: 9rem 7rem;
  border: 0.1rem solid var(--color-gray-50);
  border-radius: 1.2rem;
  @include commonMixin.mobile {
    padding: 0;
    border: none;
  }
}
.section {
  margin-bottom: 5rem;
}

.section_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;

  .title {
    @include storyMixin.heading_responsive;
  }

  .more {
    color: var(--color-gray-10);
    font-size: clamp(1.2rem, 2.5vw, 1.5rem);
  }
}

.post_list {
  .post_item_container {
    margin-bottom: 2rem;
    border: {
      width: 0.1rem;
      style: solid;
      color: #efefef;
      radius: 2rem;
    }

    a {
      display: block;
      padding: 2rem 2.4rem;
    }

    .content {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
      gap: 2rem;
      .text {
        overflow: hidden;
        .title {
          margin-bottom: 1rem;
          color: var(--color-black);
          font: {
            size: 1.6rem;
            weight: var(--font-semibold);
          }

          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .description {
          color: var(--color-gray-10);
          font: {
            size: 1.4rem;
            weight: var(--font-regular);
          }

          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      .thumbnail {
        position: relative;
        width: clamp(7rem, 11vw, 10rem);
        height: clamp(7rem, 11vw, 10rem);

        flex-shrink: 0;
        border-radius: 1rem;
        overflow: hidden;

        img {
          object-fit: cover;
          vertical-align: top;
        }
      }
    }

    .info {
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        color: var(--color-gray-10);
      }
    }

    .icons {
      display: flex;
      gap: 1rem;
    }
  }
}

// 컴포넌트

// IconAndNumber
.icon_container {
  display: flex;
  align-items: center;
  gap: 0.6rem;

  .icon {
    vertical-align: top;
  }

  .number {
    color: var(--color-primary);
    font-size: 1.4rem;
  }
}

// NoResult
.no_result_container {
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  gap: 1.7rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  .title {
    color: var(--color-black);
    font: {
      size: 1.8rem;
      weight: var(--font-semibold);
    }
  }

  .description {
    color: var(--color-gray-10);
    text-wrap: nowrap;

    font: {
      size: 1.6rem;
      weight: var(--font-regular);
    }
  }

  .btn_write {
    display: inline-block;
    padding: 1.3rem 1.2rem;
    border-radius: 1rem;
    color: var(--color-white);
    background-color: var(--color-primary);
    font-size: 1.2rem;
  }
}

// UserProfile
.user_profile {
  @mixin font-style($size, $weight) {
    @if ($size == sm) {
      font-size: 1.2rem;
    } @else if($size == md) {
      font-size: 1.4rem;
    }

    @if ($weight == regular) {
      font-weight: var(--font-regular);
    } @else if($weight == medium) {
      font-weight: var(--font-medium);
    } @else if($weight == semibold) {
      font-weight: var(--font-semibold);
    }
  }

  display: flex;
  align-items: center;

  .basic {
    display: flex;
    align-items: center;
    color: var(--color-black);

    .profile_image {
      position: relative;
      width: 3.2rem;
      height: 3.2rem;
      margin-right: 1rem;
      border-radius: 100%;
      overflow: hidden;
      border: 1px solid var(--color-gray-50);
    }

    .name {
      font-size: 1.4rem;
      font-weight: var(--font-semibold);
    }

    .sm_regular {
      @include font-style(sm, regular);
    }

    .sm_medium {
      @include font-style(sm, medium);
    }

    .md_semibold {
      @include font-style(md, semibold);
    }
  }
  .time {
    color: var(--color-gray-10);
    font-size: 1.2rem;
    font-weight: var(--font-regular);
  }
}

// PostInfo
.post_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 0 0.7rem 0.8rem;
  border: 0.12rem solid var(--color-gray-50);
  border: {
    left: none;
    right: none;
  }
  color: var(--color-gray-10);
  font: {
    size: 1rem;
    weight: var(--font-regular);
  }

  .time_and_views {
    text-align: right;
    :first-child {
      margin-bottom: 0.3rem;
    }
  }
}

// reply
.reply {
  position: relative;
}

// ReplyItem
.reply_item_content_container {
  margin-left: 4.2rem;

  .reply_item_content {
    white-space: pre-wrap;
    padding: 1.4rem 1rem;
    border-radius: 1rem;
    background-color: var(--color-secondary-dark);
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}

// ReplyList
.reply_list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

// ReplyInput
.reply_form {
  position: static;
  width: 100%;
  margin-top: 2rem;

  min-width: 31rem;
  bottom: 6rem;
  padding: 1rem 0 1.5rem;
  background-color: white;
  display: flex;
  gap: 1.2rem;
  font-size: 1.2rem;
  z-index: 10;
  @include commonMixin.mobile {
    position: fixed;
    width: calc(100% - 4.8rem);
  }

  textarea {
    padding: 13px 18px;
  }
  textarea:focus {
    border-width: 0.1rem;
    box-shadow: 0 0 0 0.1rem var(--color-primary);
  }

  .btn_submit {
    border-radius: 1rem;
    padding: 1.1rem 1.6rem;
    background-color: var(--color-primary);
    @include commonMixin.mobile {
      padding: 1.1rem;
    }
    img {
      vertical-align: top;
    }
  }
}

// ReplyModify
.reply_modify_form {
  font-size: 1.2rem;

  input {
    margin-bottom: 0.6rem;
  }

  .btn_container {
    text-align: end;
  }
  button {
    padding: 0.4rem 1.1rem;
    font-size: 1rem;
    border-radius: 0.5rem;
  }
  .btn_cancel {
    @include storyMixin.btn-style(white);
    margin-right: 0.6rem;
  }
  .btn_modify {
    @include storyMixin.btn-style(primary);
  }
}

.search_form {
  display: flex;
  gap: 1.2rem;

  div {
    position: relative;
    flex-grow: 1;
  }

  input {
    border-radius: 0.6rem;
    font-size: 1.2rem;
  }

  .btn_reset {
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    top: 50%;
    right: 1.2rem;
    transform: translateY(-50%);

    img {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      vertical-align: top;
    }
  }

  .btn_submit {
    padding: 1.1rem 1.6rem;
    border-radius: 1rem;
    background-color: var(--color-primary);
    @include commonMixin.mobile {
      padding: 1.1rem;
    }
    img {
      vertical-align: top;
    }
  }
}

// SubMenu
.sub_menu_container {
  position: relative;
  z-index: 7;
  .sub_menu {
    display: block;
    height: 1.4rem;
    .sub_menu_icon {
      vertical-align: top;
    }
  }
}
.sub_menu_bg {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// ImageSlider
.image_swiper {
  width: 110%;

  .slider {
    min-width: 14rem;
    min-height: 11rem;
    aspect-ratio: 14/11;
  }
  button {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 0.2rem;
    overflow: hidden;
    img {
      object-fit: cover;
    }
  }
}

// DiarySwiper
.diary_swiper {
  width: 110%;
  padding-right: clamp(3rem, 7vw, 10.5rem) !important;

  .slider {
    min-width: 14rem;
    width: 25%;
    max-width: 21.4rem;
  }
  a {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    overflow: hidden;

    .image_container {
      position: relative;
      width: 100%;
      min-height: 11rem;
      height: 16vw;
      max-height: 21.4rem;
      overflow: hidden;
      border-radius: 0.5rem;
      box-shadow: 0 0 0.3rem 0 rgba(0, 0, 0, 0.3);

      img {
        object-fit: cover;
      }
    }
    .title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: clamp(1.4rem, 2vw, 1.6rem);
    }
    .content {
      color: var(--color-gray-30);
      font-size: clamp(1rem, 1.5vw, 1.2rem);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

// DropDown
.dropdown_container {
  position: absolute;
  width: max-content;
  z-index: 200;
  top: 2rem;
  right: 0;
  padding: 0.2rem 0.6rem;
  border: 1px solid var(--color-gray-50);
  border-radius: 0.5rem;
  box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);

  .dropdown_option {
    font: {
      size: 1rem;
      weight: var(--font-semibold);
    }
    button {
      padding: 0.8rem 1.15rem;
    }
    &.dropdown_option_red {
      color: var(--color-error);
    }
    &:not(:last-child)::after {
      content: '';
      display: block;
      width: 100%;
      height: 0.1rem;
      background-color: var(--color-gray-50);
    }
  }
}

// Pagination
.pagination {
  margin-top: 1.5rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  color: var(--color-black);

  .selected {
    box-shadow: 0 0.2rem 0 0 var(--color-primary);
    color: var(--color-primary);
    font-weight: var(--font-semibold);
  }
}

// title_search_container
.title_search_container {
  display: flex;
  justify-content: space-between;
  .search_container {
    flex-basis: 50%;
  }
}

@media (max-width: $tablet_size) {
  .title_search_container {
    flex-direction: column;
    margin-bottom: 0;

    .search_container {
      margin-bottom: 2rem;
      flex-basis: 0;
    }
  }
}
