.post_list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.item {
  overflow: hidden;
  border: 1px solid var(--color-gray-50);
  border-radius: 10px;
}

.info {
  padding: 14px 12px;
}

//
// .info {
//   display: flex;
//   // justify-content: space-between;
//   align-items: center;
//   padding: 14px 12px;

//   .basic {
//     display: flex;
//     align-items: center;
//     color: var(--color-black);

//     .profileImage {
//       width: 32px;
//       height: 32px;
//       margin-right: 10px;
//       border-radius: 100%;
//       overflow: hidden;
//     }

//     .name {
//       margin-right: 6px;
//       font-size: 14px;
//       font-weight: var(--font-semibold);
//     }
//   }
//   .time {
//     color: var(--color-gray-10);
//     font-size: 12px;
//     font-weight: var(--font-regular);
//   }
// }
