@import '@styles/mixin';

.plantDetail_wrapper {
  @include flex-vertical(2rem);

  .plant_photo {
    @include flex-horizontal(0);
    position: relative;
    margin: -2.4rem -2.4rem 0;
    align-items: center;
    justify-content: center;
    height: 30rem;
    overflow: hidden;
    img {
      object-fit: cover;
    }
  }

  .plant_name {
    @include flex-vertical(1rem);
    align-items: center;
    box-sizing: border-box;
    text-align: center;

    h2 {
      font-size: 1.8rem;
      font-weight: var(--font-semibold);
    }

    span {
      color: var(--color-gray-10);
    }

    p {
      width: 100%;
      color: var(--color-white);
      text-align: center;
      padding: 1.4rem 0;
      border-radius: 1rem;
      background-color: #a7c4a0;
      box-sizing: border-box;
    }

    .plant_with {
      margin-top: 1.3rem;
    }
  }

  .plant_tabMenu {
    margin: 0 -2.4rem;
    .plant_info,
    .plant_diary {
      width: 50%;
      height: 4rem;
      background-color: var(--color-white);
      box-shadow: inset 0 -0.1rem 0 var(--color-primary);
      background-image: url('/images/MyPlantIcon.svg');
      background-position: center;
      background-repeat: no-repeat;
    }

    .plant_diary {
      background-image: url('/images/MyPostIcon.svg');
    }

    .plant_info.is_active,
    .plant_diary.is_active {
      box-shadow: inset 0 -2px 0 var(--color-primary);
    }
  }

  .layout_wrapper {
    margin-top: 1rem;
    @include flex-vertical(3rem);
    align-items: center;
    box-sizing: border-box;

    .plant_head {
      width: 100%;
      @include flex-horizontal(0);
      align-items: center;
      justify-content: space-between;
      position: relative;

      .subMeun {
        width: 2rem;
        height: 2rem;
        background-image: url('/images/SubMenuIcon.svg');
        background-repeat: no-repeat;
      }

      .subMenuBox {
        background-color: var(--color-white);
        border: 0.1rem solid var(--color-gray-50);
        overflow: hidden;
        border-radius: 0.5rem;
        position: absolute;
        right: 0;
        top: 2.4rem;
        @include flex-vertical;
        box-shadow: 0 0.1rem 0.3rem rgba($color: #000000, $alpha: 0.1);

        hr {
          all: unset;
          width: 100%;
          height: 0.1rem;
          background-color: var(--color-gray-50);
        }
        .subMenuItem {
          padding: 0.5rem 1rem;
          font-size: 1.2rem;
        }
        .subMenuItem.delete {
          color: var(--color-error);
        }
      }
    }

    // 식물 정보 css
    .plant_gardening {
      width: 100%;
      @include flex-vertical(1rem);
      ul {
        width: 100%;
        padding: 1.6rem 2rem;
        box-sizing: border-box;
        border-radius: 1rem;
        background-color: var(--color-secondary-light);
        @include flex-vertical(1.6rem);

        li {
          @include flex-horizontal(1rem);
          span {
            width: 5rem;
            font-weight: var(--font-semibold);
          }
          p {
            font-size: 1.2rem;
          }
        }
      }
    }

    h3 {
      font-size: 1.6rem;
      font-weight: var(--font-semibold);
    }
    .plant_tips {
      @include flex-vertical(1rem);
      width: 100%;

      pre {
        width: 100%;
        line-height: 2rem;
        font-size: 1.2rem;
        padding: 1.6rem;
        box-sizing: border-box;
        border-radius: 1rem;
        background-color: #ffffe0;
      }
    }

    //식물 다이어리 css
    .diary_head {
      @include flex-horizontal(0);
      justify-content: space-between;
      align-items: center;
      width: 100%;
      .diary_add {
        display: inline-block;
        width: 4rem;
        height: 3rem;
        border-radius: 1rem;
        background-color: var(--color-primary);
        background-image: url('/images/DiaryAddIcon.svg');
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    .diary_list {
      width: 100%;
      @include flex-vertical(2rem);
      align-items: center;

      .diaryNull {
        text-align: center;
        line-height: 2rem;
        span {
          color: var(--color-primary);
          font-weight: var(--font-semibold);
        }
      }

      li {
        background-color: var(--color-secondary-light);
        border: 1px solid var(--color-secondary-dark);
        padding: 2rem;
        box-sizing: border-box;
        width: 100%;
        border-radius: 2rem;
        .diary_item {
          @include flex-vertical(3rem);
          align-items: center;

          .item_head {
            width: 100%;
            @include flex-vertical(1rem);

            .item_info {
              @include flex-horizontal(1rem);

              span {
                font-weight: var(--font-semibold);
              }
            }
          }

          .item_cover {
            @include flex-horizontal(0);
            position: relative;
            align-items: center;
            width: 25rem;
            height: 20rem;
            border-radius: 1rem;
            overflow: hidden;

            img {
              object-fit: cover;
            }
          }

          .item_desc {
            width: 100%;
            line-height: 1.6rem;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

.followBtn,
.unFollowBtn {
  width: 100%;
  padding: 1rem;
  background-color: #a7c4a0;
  border-radius: 10rem;
  color: var(--color-white);
  transition: all 0.3s;
}

.unFollowBtn {
  background-color: var(--color-white);
  color: #a7c4a0;
  border: 0.1rem solid #a7c4a0;
}
