:root {
  font-size: 10px; /* 1rem = 10px */
}

/* Reset CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
main,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: var(--font-pretendard), sans-serif;
  font-size: 1.4rem;
}
ol,
ul {
  list-style: none;
}

a {
  color: unset;
  text-decoration: none;
}

blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type='file'] {
  display: none;
}

/* Select box 스타일 초기화 */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* IE 에서 Select box 화살표 제거 */
select::-ms-expand {
  display: none;
}

option {
  background: var(--color-white);
  color: var(--color-black);
  padding: 1rem 0;
}

button,
input[type='text'],
input[type='email'],
input[type='date'],
input[type='month'],
input[type='number'],
input[type='password'],
textarea {
  all: unset;
}

input[type='text'],
input[type='email'],
input[type='date'],
input[type='number'],
input[type='password'] {
  height: 4rem;
  background-color: var(--color-white);
  text-indent: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
}

textarea {
  resize: none;
  height: 8rem;

  padding: 1rem;
}

input[type='text'],
input[type='email'],
input[type='number'],
input[type='password'],
textarea {
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid var(--color-gray-50);
  box-sizing: border-box;
}

input[type='text']::placeholder,
textarea::placeholder {
  color: var(--color-gray-30);
  font-family: unset;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='number']:focus,
input[type='password']:focus,
textarea:focus {
  border: 2px solid var(--color-primary);
}

button {
  cursor: pointer;
}
