:root {
  /* typography */
  --font-pretendard: 'Pretendard', sans-serif;

  --font-extralight: 200;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  /* colors */
  --color-primary: #20604f;
  --color-secondary-light: #fffdf6;
  --color-secondary-dark: #f7f4e9;

  --color-black: #222222;
  --color-white: #ffffff;
  --color-error: #eb5757;

  --color-gray-10: #828282;
  --color-gray-30: #aaaaaa;
  --color-gray-50: #dddddd;
}
