@import '@styles/mixin';

.option_wrapper {
  @include flex-horizontal(2rem);
  width: 100%;
  height: 4rem;
  padding: 1rem;
  background: var(--color-secondary-light);
  border: 1px solid var(--color-secondary-dark);
  border-radius: 1rem;
  box-sizing: border-box;
  p {
    font-weight: var(--font-medium);
    font-size: 1.2rem;
  }
}

.list_wrapper {
  @include flex-vertical(1.6rem);
}

.profile_panel {
  @include flex-horizontal(1rem);
  width: 100%;
  justify-content: space-between;
  align-items: center;

  .thumbnail {
    @include flex-vertical(1rem);
    justify-content: center;
    align-items: center;
    div {
      width: 9rem;
      height: 9rem;
      border-radius: 50%;
      position: relative;
      border: 1px solid var(--color-secondary-dark);
      overflow: hidden;
      img {
        object-fit: cover;
      }
    }
    p {
      font-size: 1.6rem;
      font-weight: var(--font-semibold);
    }
    span {
      font-size: 1.2rem;
      font-weight: var(--font-regular);
      color: var(--color-gray-10);
    }
  }
}
.gap {
  margin-bottom: 1.5rem;
}
