@import '@styles/mixin';

.footerPc_wrapper {
  @include flex-horizontal(0);
  justify-content: space-between;
  height: 8rem;
  align-items: center;
  border: 0.1rem solid var(--color-gray-50);

  @include mobile {
    display: none;
  }

  p {
    width: 40rem;
    text-align: center;
  }
}

.footerMo_wrapper {
  display: none;

  @include mobile {
    position: fixed;
    min-width: 36rem;
    z-index: 10;
    height: 6rem;
    bottom: 0;
    right: 0;
    left: 0;
    box-shadow: 0 -0.2rem 0.3rem 0 rgba(0, 0, 0, 0.2);
    background-color: var(--color-secondary-dark);
    @include flex-horizontal;
    align-items: center;

    .nav {
      width: 100%;
      @include flex-horizontal(0);

      li {
        box-sizing: border-box;
        width: 20%;
        @include flex-vertical();
        justify-content: center;
      }
      .nav_item {
        @include flex-vertical(0.6rem);
        align-items: center;
        font-size: 1rem;
        text-align: center;
        p {
          color: var(--color-gray-10);
          margin-top: auto;
        }

        p.is_active {
          color: var(--color-primary) !important;
          font-weight: var(--font-semibold);
        }

        .user_cover {
          width: 2.4rem;
          height: 2.4rem;
          overflow: hidden;
          border-radius: 50%;
          position: relative;

          img {
            object-fit: cover;
          }
        }
      }
    }
  }
}
