@use '../../../../../styles/mixin' as commonMixin;

.user_info {
  padding-top: 1.4rem;
}

.user_info::after {
  content: '';
  display: block;
  margin-top: 1.4rem;
  width: 100%;
  height: 0.1rem;
  background-color: var(--color-gray-50);
}

.article {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .heading {
    font: {
      size: clamp(1.8rem, 3.15vw, 3.2rem);
      weight: var(--font-semibold);
    }
  }

  .plant_card {
    padding: 2.4rem 3rem;
    font-size: 1.2rem;
    background-color: #f6f6f6;

    .plant_profile {
      display: flex;
      gap: 1rem;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.6rem;

      a {
        display: flex;
        align-items: center;
        gap: 1rem;
        .plant_image_container {
          position: relative;
          width: 3.4rem;
          height: 3.4rem;
          border-radius: 100%;
          overflow: hidden;
          img {
            object-fit: cover;
          }
        }
        .plant_nickname {
          font: {
            size: 2rem;
            weight: var(--font-semibold);
          }
        }
        .plant_scientific_name {
          font-size: 1rem;
          color: var(--color-gray-10);
        }
      }

      .followBtn {
        padding: 0.6rem 1.7rem;
        background-color: #a7c4a0;
        border: 0.1rem solid #a7c4a0;
        border-radius: 0.6rem;
        color: var(--color-white);
        font-size: 1rem;
      }
      .followBtn.selected {
        background-color: var(--color-white);
        color: #a7c4a0;
      }
    }
  }
  .description {
    white-space: pre-wrap;
    line-height: 2.4rem;
    color: var(--color-black);
  }
}

.plant_diary_info {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  .container {
    padding: 1.4rem 2.5rem;
    background-color: #f9f9f9;
    border-radius: 1rem;
  }
  .headings {
    padding-right: 1rem;
    color: #609285;
  }
  // padding-bottom: 2rem;
  // :not(:last-child) {
  //   margin-bottom: 0.6rem;
  // }
}

// DiaryImageSlider
.image_swiper {
  width: 100%;
  --swiper-pagination-color: var(--color-primary);
  --swiper-pagination-bullet-inactive-color: var(--color-white);
  --swiper-pagination-bullet-inactive-opacity: 0.8;
  --swiper-pagination-bullet-horizontal-gap: 0.2rem;

  .slide {
    aspect-ratio: 2/1;
    min-width: 31.2rem;
    min-height: 31.2rem;

    &.pair {
      display: flex;
      gap: 1rem;
      height: 100%;

      .pairItem {
        width: calc(50% - 0.5rem);
      }
    }

    @include commonMixin.mobile {
      aspect-ratio: 1/1;
    }
  }

  button {
    position: relative;
    width: 100%;
    height: 100%;
    img {
      object-fit: cover;
    }
  }
}
