@import '@styles/mixin';

@media (max-width: 767px) {
  .card_list {
    @include flex-vertical(2rem);
  }
}

@media (min-width: 768px) {
  .card_list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2.4rem;
  }
}
