@import '@styles/mixin';

.filter_wrapper {
  @include flex-vertical(3rem);

  .filter_group {
    overflow-x: hidden;
    padding: 0 1rem;
    @include flex-vertical(5rem);
    height: 40rem;
    overflow-y: scroll;

    @include mobile {
      gap: 3rem;
    }

    .question_section {
      @include flex-vertical(2rem);
      justify-content: space-between;
      align-items: flex-start;
      font-size: 1.6rem;
      transition: all 0.3s;

      @include mobile {
        align-items: flex-start;
        font-size: 1.4rem;
        width: 100%;
      }

      .question_title {
        font-weight: var(--font-semibold);
        font-size: 1.8rem;

        @include mobile {
          font-weight: var(--font-semibold);
          font-size: 1.6rem;
        }
      }
    }
  }

  .label_wrapper {
    @include flex-horizontal(1.4rem);
    flex-wrap: wrap;

    @include mobile {
      gap: 1rem;
    }
  }

  .custom_checkbox {
    @include flex-horizontal(0.5rem);
    align-items: center;
    padding: 0.4rem 1.2rem;
    box-sizing: border-box;
    border-radius: 1rem;
    border: 0.1rem solid var(--color-gray-50);
    flex-shrink: 0;
    transition: all 0.3s;

    & input[type='checkbox'] {
      appearance: none;
      cursor: pointer;
      width: 1.6rem;
      height: 1.6rem;
      border-radius: 0.5rem;
      border: 0.1rem solid var(--color-gray-50);
      background-image: url('/images/CheckBox_nor.svg');
      background-size: 1.6rem;
      background-position: center;
      background-repeat: no-repeat;

      @include mobile {
        width: 1.4rem;
        height: 1.4rem;
        background-size: 1.4rem;
      }

      &:checked {
        background-image: url('/images/CheckBox_sel.svg');
      }
      & + span {
        flex-shrink: 0;
        cursor: pointer;
      }
    }
  }

  .custom_checkbox.lg {
    justify-content: flex-start;

    @include mobile {
      padding: 0.4rem 1rem;
    }
  }

  .custom_checkbox:has(input[type='checkbox']:checked) {
    border-color: var(--color-primary);
    color: var(--color-primary);
  }

  .btn_wrapper {
    @include flex-horizontal(1rem);
    justify-content: center;
  }
}
