@import '@styles/mixin';

.modal_overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  position: fixed;
  inset: 0;
  z-index: 100;
  padding: 0 3rem;
  box-sizing: border-box;

  @include mobile {
    padding: 0 1.4rem;
  }

  .modal_content {
    margin: auto;
    background: white;
    border-radius: 2rem;
    position: relative;
    max-width: 55rem;
    width: 100%;
    padding: 4rem 3.2rem;
    min-width: 31.2rem;

    @include mobile {
      padding: 3rem 2rem;
    }
  }
}
