@import '@styles/mixin';

.modal_overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .modal_content {
    background: white;
    border-radius: 8px;
    width: 100%;
    position: relative;
    max-width: 50rem;
    padding: 4.5rem 3.2rem 3rem;

    @include mobile {
      max-width: 31.2rem;
      padding: 3rem 2rem 2rem;
    }
  }
}
