@import '@styles/mixin';

@media (max-width: 48rem) {
  .search_container {
    margin: 2rem 0;

    .heading_container {
      display: none;
    }
    .search_form {
      @include flex-horizontal(1.2rem);
      justify-content: space-between;

      input {
        flex-grow: 1;
        border-radius: 0.6rem;
        height: 4rem;
        padding: 0 1.7rem;
        border: 1px solid var(--color-gray-30);
        font-weight: var(--font-reqular);
        color: var(--color-gray-30);
        font-size: 1.2rem;
      }
      .btn_wrapper {
        @include flex-horizontal(1rem);
        .search_btn {
          @include flex-horizontal(0);
          justify-content: center;
          align-items: center;
          width: 4rem;
          height: 4rem;
          background: var(--color-primary);
          border-radius: 1rem;
          cursor: pointer;
        }
        .filter_btn {
          @include flex-horizontal(0);
          justify-content: center;
          align-items: center;
          width: 4rem;
          height: 4rem;
          background: var(--color-white);
          border-radius: 1rem;
          border: 0.1rem solid var(--color-primary);
          box-sizing: border-box;
          cursor: pointer;
        }
      }
    }
  }

  .inputs_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media (min-width: 48rem) {
  .page_container {
    @include flex-vertical(0rem);
    align-items: center;
    .search_container {
      .heading_container {
        margin-top: 10rem;
        .heading {
          font-size: 5rem;
          font-weight: var(--font-semibold);
        }
      }

      .search_form {
        @include flex-horizontal(1.2rem);
        justify-content: space-between;
        margin: 2rem 0;

        input {
          flex-grow: 1;
          border-radius: 0.6rem;
          height: 4rem;
          padding: 0 1.7rem;
          border: 1px solid var(--color-gray-30);
          font-weight: var(--font-reqular);
          color: var(--color-gray-30);
          font-size: 1.2rem;
        }
        .btn_wrapper {
          @include flex-horizontal(1rem);
          justify-content: center;
          align-items: center;

          .search_btn {
            @include flex-horizontal(0);
            justify-content: center;
            align-items: center;
            width: 4rem;
            height: 4rem;
            background: var(--color-primary);
            border-radius: 1rem;
            cursor: pointer;
          }
          .filter_btn {
            @include flex-horizontal(0);
            justify-content: center;
            align-items: center;
            width: 4rem;
            height: 4rem;
            background: var(--color-white);
            border-radius: 1rem;
            border: 0.1rem solid var(--color-primary);
            box-sizing: border-box;
            cursor: pointer;
          }
        }
      }
    }
  }
}
