@import '@styles/mixin';

.default_thumbnail {
  width: 11.7rem;
  height: 10rem;
  background: #d5e1de;
}

.thumbnail_wrapper {
  border: 1px solid var(--color-gray-50);
  border-radius: 2rem;
  overflow: hidden;
  display: block;
  width: 24rem;
  height: 25rem;
  @include mobile {
    min-width: 11.7rem;
    min-height: 10rem;
    border-radius: 0;
    border: none;
    width: 100%;
    height: 100%;
  }

  .img_wrapper {
    width: 24rem;
    height: 21rem;
    overflow: hidden;
    position: relative;
    @include mobile {
      width: 100%;
      height: 100%;
    }
    .image {
      border-radius: 2rem 2rem 0 0;
      object-fit: cover;
      @include mobile {
        border-radius: 0;
      }
    }
  }
  .thumbnail_name {
    display: block;
    height: 4rem;
    text-align: center;
    align-content: center; // vertical align - new feature 2024.08.
    font-weight: var(--font-medium);
    font-size: 1.8rem;
    @include mobile {
      display: none;
    }
  }
}
