@import '@styles/mixin';

// first
.tab_body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px;
  gap: 0.2rem;
  align-items: stretch;
  justify-items: stretch;
  flex-grow: 1;
  img {
    display: block;
    object-fit: cover;
  }
}

// second
.list_wrapper {
  .contents_item:nth-child(1) {
    border-top: 0.1rem solid var(--color-gray-50);
  }

  .contents_item {
    padding: 2rem 2.4rem;
    box-sizing: border-box;
    border-bottom: 0.1rem solid var(--color-gray-50);
    @include flex-vertical(1rem);

    .contents_main {
      @include flex-horizontal(2rem);

      .contents_info {
        flex-grow: 1;
        h3 {
          display: -webkit-box;
          line-clamp: 1;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          overflow: hidden;
          font-size: 1.6rem;
          font-weight: var(--font-semibold);
          margin-bottom: 1rem;
        }

        p {
          font-size: 1.4rem;
          color: var(--color-gray-10);
          display: -webkit-box;
          line-clamp: 2;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }

      .contents_cover {
        position: relative;
        flex-shrink: 0;
        width: 7rem;
        height: 7rem;
        border-radius: 1rem;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          object-fit: cover;
        }
      }
    }

    .contents_footer {
      @include flex-horizontal(1rem);
      justify-content: space-between;
      color: var(--color-gray-10);

      .reaction_list {
        @include flex-horizontal(1rem);

        .reaction_item {
          color: var(--color-primary);
          @include flex-horizontal(0.6rem);
        }
      }
    }
  }
}

.template_container {
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  .heading_container {
    display: none;
  }
}

@media (min-width: 768px) {
  .tab_body {
    margin-top: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 2rem;
  }

  .list_wrapper {
    margin-top: 1rem;
  }
  .template_container {
    width: 50rem;
    margin: 5rem auto;
    .heading_container {
      display: block;
      margin-bottom: 2.4rem;
      .heading {
        font-weight: var(--font-semibold);
        font-size: 3.2rem;
        color: var(--color-primary);
      }
    }
  }
}
