@import '@styles/mixin';

.root {
  @include flex-vertical(0);
  position: relative;
  max-width: 36rem;
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
  border-left: 0.1rem solid var(--color-gray-50);
  border-right: 0.1rem solid var(--color-gray-50);
  margin: auto;

  .main {
    padding: 7.4rem 2.4rem 9rem 2.4rem;
    box-sizing: border-box;

    .home_wrapper {
      @include flex-vertical(5rem);
      width: 100%;
      .bannerList {
        margin: -2.4rem;
        width: 120%;
        display: flex;
        .banner_item {
          position: relative;

          .banner_info {
            position: absolute;
            bottom: 3rem;
            left: 2.4rem;
            right: 3.4rem;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            .banner_text {
              color: var(--color-white);
              @include flex-vertical(1rem);
              justify-content: flex-end;

              span {
                font-size: 1.6rem;
                font-weight: var(--font-bold);
              }
              p {
                font-size: 2.2rem;
                line-height: 3rem;
              }
            }
          }

          .banner_cover {
            position: relative;
            height: 50rem;
            z-index: -1;
            img {
              object-fit: cover;
            }
          }

          .banner_cover::after {
            content: '';
            position: absolute;
            inset: 0;
            background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.364670868347339) 100%);
            height: 100%;
          }
        }
      }

      .main_list {
        @include flex-vertical(5rem);
        .list_item {
          box-sizing: border-box;
          @include flex-vertical(1.6rem);

          .list_title {
            font-size: 1.8rem;
            font-weight: var(--font-bold);
          }
          .swiperList {
            padding-right: 1rem;
            box-sizing: border-box;
            width: 110%;
            display: flex;

            .swiper_item {
              @include flex-vertical(1rem);
              font-size: 1.4rem;
              .swiper_cover {
                position: relative;
                flex-shrink: 0;
                width: 20rem;
                height: 12rem;
                box-shadow: 0 0 0.3rem 0 rgba(0, 0, 0, 0.5);
                border-radius: 1rem;
                position: relative;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                  object-fit: cover;
                }
              }
            }
          }
          .contentsList {
            margin: 0 -2.4rem;

            .contents_item:nth-child(1) {
              border-top: 0.1rem solid var(--color-gray-50);
            }

            .contents_item {
              padding: 2rem 2.4rem;
              box-sizing: border-box;
              border-bottom: 0.1rem solid var(--color-gray-50);
              @include flex-vertical(1rem);

              .contents_main {
                @include flex-horizontal(2rem);

                .contents_info {
                  flex-grow: 1;
                  h3 {
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    font-size: 1.6rem;
                    font-weight: var(--font-semibold);
                    margin-bottom: 1rem;
                  }

                  p {
                    font-size: 1.4rem;
                    color: var(--color-gray-10);
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    text-overflow: ellipsis;
                    overflow: hidden;
                  }
                }

                .contents_cover {
                  position: relative;
                  flex-shrink: 0;
                  width: 7rem;
                  height: 7rem;
                  border-radius: 1rem;
                  overflow: hidden;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  img {
                    object-fit: cover;
                  }
                }
              }

              .contents_footer {
                @include flex-horizontal(1rem);
                justify-content: space-between;
                color: var(--color-gray-10);

                .reaction_list {
                  @include flex-horizontal(1rem);

                  .reaction_item {
                    color: var(--color-primary);
                    @include flex-horizontal(0.6rem);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
