@import '@styles/mixin';

.main {
  @include flex-vertical(0);
  min-height: 100vh;
  padding: 0 3.2rem;
  box-sizing: border-box;
  margin: 8rem auto 0;

  @include mobile {
    @include flex-vertical(0);
    overflow: hidden;
    position: relative;
    min-height: 100vh;
    padding: 3rem 2.4rem;
    box-sizing: border-box;
    margin-top: 0;
  }

  .bannerList {
    display: flex;
    width: calc(100% + (3.2rem + 3.2rem));
    margin-left: -3.2rem;
    height: 40rem;

    @for $i from 1 through 4 {
      .banner_item:nth-child(#{$i}) {
        background-image: url('/images/BannerImage#{$i}.png');
        background-position: center 60%;
        background-repeat: no-repeat;
        background-size: 100% auto;
      }
    }

    .banner_item {
      width: 100%;
      padding: 0 4rem;
      box-sizing: border-box;
      position: relative;
      @include flex-vertical(0);
      justify-content: center;

      .banner_info {
        max-width: 102.4rem;
        width: 100%;
        margin: auto auto 0;
        z-index: 2;
        margin-bottom: 7rem;
        @include flex-vertical(3rem);
        align-items: flex-start;

        @include mobile {
          margin-bottom: 3rem;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-end;
        }

        .banner_text {
          color: var(--color-white);
          @include flex-vertical(1rem);
          justify-content: flex-end;

          span {
            font-size: 2rem;
            font-weight: var(--font-bold);

            @include mobile {
              font-size: 1.6rem;
              font-weight: var(--font-bold);
            }
          }
          p {
            font-size: 3.2rem;
            line-height: 4.4rem;

            @include mobile {
              font-size: 2.2rem;
              line-height: 3rem;
            }
          }
        }

        .eventPc {
          @include flex-horizontal(1rem);
          align-items: center;
          color: var(--color-white);
          padding: 0.5rem 1rem;
          box-sizing: border-box;
          border: 0.1rem solid var(--color-white);
          border-radius: 3rem;
          background-color: rgba(255, 255, 255, 0.2);

          @include mobile {
            display: none;
          }
        }

        .eventMo {
          display: none;

          @include mobile {
            display: block;
          }
        }
      }
    }
    .banner_item::after {
      content: '';
      position: absolute;
      inset: 0;
      background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.364670868347339) 100%);
      height: 100%;
    }
  }

  .home_wrapper {
    margin: 5rem auto;
    max-width: 102.4rem;
    width: 100%;
    @include flex-vertical(5rem);

    .list_item {
      @include flex-vertical(1.6rem);

      .list_title {
        font-size: 2.2rem;
        font-weight: var(--font-bold);
        transition: all 0.3s;

        @include mobile {
          font-size: 1.8rem;
        }
      }

      .swiperList {
        width: 100%;
        display: flex;

        @include mobile {
          width: calc(100% + 2.4rem);
          margin-right: -2.4rem;
        }

        .swiper_item {
          @include flex-vertical(1.1rem);
          font-size: 1.8rem;
          transition: all 0.3s;

          @include mobile {
            font-size: 1.4rem;
          }

          .swiper_cover {
            position: relative;
            flex-shrink: 0;
            width: 100%;
            height: 18rem;
            border-radius: 1rem;
            overflow: hidden;
            @include flex-horizontal(0);
            align-items: center;
            justify-content: center;
            box-shadow: 0 0 0.3rem 0 rgba(0, 0, 0, 0.3);
            transition: all 0.3s;

            @include mobile {
              height: 16rem;
            }

            img {
              object-fit: cover;
            }
          }

          .swiper_tit {
            @include flex-vertical(0.3rem);

            span {
              font-size: 1.2rem;
              font-weight: var(--font-light);
              color: var(--color-gray-30);
              transition: all 0.3s;

              @include mobile {
                font-size: 1rem;
              }
            }
          }
        }
      }

      .contentsList {
        margin: 0 -2.4rem;

        li:nth-child(1) {
          border-top: 0.1rem solid var(--color-gray-50);
        }

        .contents_item {
          border-bottom: 0.1rem solid var(--color-gray-50);
          padding: 2rem 2.4rem;
          box-sizing: border-box;
          @include flex-vertical(1.2rem);

          .contents_main {
            @include flex-horizontal(2rem);

            .contents_info {
              flex-grow: 1;
              h3 {
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
                overflow: hidden;
                font-size: 1.6rem;
                font-weight: var(--font-semibold);
                margin-bottom: 1rem;
              }

              p {
                font-size: 1.4rem;
                color: var(--color-gray-10);
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
                overflow: hidden;
              }
            }

            .contents_cover {
              position: relative;
              flex-shrink: 0;
              width: 7rem;
              height: 7rem;
              border-radius: 1rem;
              overflow: hidden;
              display: flex;
              align-items: center;
              justify-content: center;
              img {
                object-fit: cover;
              }
            }
          }

          .contents_footer {
            @include flex-horizontal(0.5rem);
            justify-content: space-between;
            color: var(--color-gray-10);
            font-size: 1.2rem;

            .reaction_list {
              @include flex-horizontal(1rem);

              .reaction_item {
                color: var(--color-primary);
                @include flex-horizontal(0.6rem);
              }
            }
          }
        }
      }
    }
  }
}
