@import '@styles/mixin';

.login_wrapper {
  width: 50%;
  height: 100vh;
  @include flex-vertical(5rem);
  align-items: center;
  margin-left: auto;
  justify-content: center;
  margin-top: -16rem;
  margin-right: -3.2rem;

  @include mobile {
    width: 100%;
    margin-top: -7.4rem;
    margin-right: 0;
  }

  form {
    max-width: 50rem;
    width: 100%;
    @include flex-vertical(3rem);
    align-items: center;

    @include mobile {
      max-width: 100%;
    }

    .input_container {
      width: 100%;
      @include flex-vertical(1rem);

      label {
        margin-bottom: 0.5rem;
        color: var(--color-primary);
        font-weight: var(--font-semibold);
        font-size: 1.8rem;
        transition: all 0.3s;

        @include mobile {
          font-size: 1.6rem;
        }
      }

      p {
        color: var(--color-error);
        font-weight: var(--font-semibold);
        font-size: 1.4rem;
        transition: all 0.3s;

        @include mobile {
          font-size: 1.2rem;
        }
      }
    }

    .signupText {
      color: var(--color-black);
      font-size: 1.6rem;
      transition: all 0.3s;

      @include mobile {
        font-size: 1.4rem;
      }
      a {
        color: var(--color-black);
        text-decoration: underline;
        font-weight: var(--font-semibold);
      }
    }
  }

  .socail {
    width: 100%;
    @include flex-vertical(2rem);
    align-items: center;

    p {
      @include flex-horizontal(1rem);
      justify-content: center;
      align-items: center;
      color: var(--color-gray-10);
      flex-basis: 0;
      flex-shrink: 0;
      flex-grow: 1;
    }

    p::after,
    p::before {
      content: '';
      display: block;
      height: 0.1rem;
      background-color: var(--color-gray-30);
      width: 16rem;
      transition: all;

      @include mobile {
        width: 8.6rem;
      }
    }

    .socail_list {
      @include flex-horizontal(1.4rem);
    }
  }
}
.login_wrapper:after {
  content: '';
  display: block;
  position: fixed;
  inset: 0;
  background-image: url('/images/LoginBackground.png');
  background-repeat: no-repeat;
  background-size: 50% 100%;
  opacity: 0.5;
  z-index: -1;
  transition: all 0.3s;

  @include mobile {
    opacity: 0.2;
    background-size: cover;
  }
}
