@import '@styles/mixin';

.page_container {
  max-width: 102.4rem;
  width: 100%;
  margin: 5rem auto;
  background-color: var(--color-secondary-light);

  @include mobile {
    width: calc(100% + 2.4rem + 2.4rem);
    background-color: var(--color-white);
    @include flex-vertical(3rem);
    margin: 0 -2.4rem;
  }
  .title_container {
    text-align: center;
    @include mobile {
      @include flex-vertical(1rem);
      margin: 0 2.4rem;
      text-align: start;
    }
    .title {
      color: var(--color-primary);
      font-weight: var(--font-semibold);
      font-size: 5.6rem;

      @include mobile {
        color: initial;
        font-weight: var(--font-bold);
        font-size: 2rem;
      }
    }
    .subtitle {
      font-weight: var(--font-regular);
      font-size: 3.2rem;
      @include mobile {
        color: #777;
        font-size: 1.6rem;
      }
    }
  }
  .image_wrapper {
    order: initial;
    position: relative !important;
    width: 44.5rem;
    height: 44.5rem;
    margin: 5rem auto;
    @include mobile {
      order: -1;
      width: 100%;
      height: 30rem;
      margin: 0;
    }
    .img {
      border-radius: 4rem;

      @include mobile {
        object-fit: cover;
        border-radius: 0%;
      }
    }
  }

  .content_container {
    width: 69.2rem;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0 3.2rem;
    @include mobile {
      border-spacing: 0 2.4rem;
      margin: 0 2.4rem;
    }
    > tbody > tr {
      th {
        font-size: 2.4rem;
        font-weight: var(--font-semibold);

        @include mobile {
          text-align: left;
          font-weight: var(--font-semibold);
          font-size: 1.6rem;
        }
      }
      td {
        font-size: 2.4rem;

        @include mobile {
          font-weight: var(--font-regular);
          font-size: 1.2rem;
        }
      }
    }
  }
}
